<include file="./Wechat/Common/TplLayout/header.html,include_css" title="微信商城"/>
<div id="container">
    <div class="contentShow">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

        </ul>
    </div>
    <div class="menuNav">
        <i class="icon-home"></i>
        <i class="icon-cart"></i>
        <i class="icon-user"></i>
        <i class="icon-gift"></i>
    </div>
</div>


















<include file="./Wechat/Common/TplLayout/footer.html,include_js" />

