<!--
* 微信设置的基本信息部分
* @type {*}
-->

<p>微信url接口配置信息:<i class="configUrl"></i></p> 
<p>
    接口配置token:<input type="text" class="token"/>
    <i style="color:red;">*</i>
    输入标识符可以随意但一定要和开发者配置中得token一样
</p>
<p>
    微信公号appid:<input type="text" class="appid"/>
    <i>
        <i style="color:red;">*</i>
        需要微信认证后才会分配(需要菜单功能必须认证并且是服务号)
    </i>
</p>
<p>
    公号appsecret:<input type="text" class="appsecret"/>
    <i>
        <i style="color:red;">*</i>
        需要微信认证后才会分配
    </i>
</p>

