        <include file="./Wechat/Common/TplLayout/header.html" title="微商城后台管理"/>
        <!--加载文件上传样式-->
        <link rel="stylesheet" href="__CSS__/lib/plupload/css/queue.css" type="text/css" media="screen"/>
         <!--对话框插件样式-->
        <link rel="stylesheet" href="__CSS__/lib/Dialog/flat/zebra_dialog.css" type="text/css">
         <!--压缩css-->
        <link href="__CSS__/debug/debug_admin.css" rel="stylesheet"/>
        </head>
    <body>
    <!--qunit开头的都是单元测试ui-->
    <div id="qunit-tests"></div>
    <div id="qunit-header"></div>
    <div id="qunit-banner"></div>
    <div id="qunit-testrunner-toolbar"></div>
    <div id="qunit-userAgent"></div>
    <div id="qunit-testresult"></div>
    <div id="qunit-modulefilter"></div>
    <div id="qunit-modulefilter-container"></div>
    <div id="qunit-fixture"></div>
    <!--单元ui结束-->
    <div id="adminPage"></div>
        <script>
                /**
                 *dom的操作全部交给js来处理
                 * 前端采用mvc的前端架构
                 * 为了可维护，可扩展，采用mvc开发
                 * 采用build工具打包
                 * 整个应用全局变量就一个ADMIN
                 * 其他的必须放入闭包里
                 * @type {{}}
                 */
            var ADMIN={};//后台应用
                ADMIN.M={};//模型层
                ADMIN.V={};//视图层
                ADMIN.C={};//控制器层
                ADMIN.tpl={};//模板
                ADMIN.global={}//对象之间交互用到的变量都放入这个容器里
                ADMIN.global.APPPATH="__ROOT__/";//网站的跟路径
                ADMIN.global.ADMINPATH="__ROOT__/index.php/Admin/";//后台模块admin的根路径
                ADMIN.global.mixData={};
        </script>
        <include file="./Wechat/Common/TplLayout/footer.html" />
        <!--加载模板文件 start-->
        <script src="__JS__/template/admin.tpl.js"></script>
        <script src="__JS__/template/customMenu.tpl.js"></script>
        <script src="__JS__/template/wechatSet.tpl.js"></script>
        <script src="__JS__/template/wechatUserManage.tpl.js"></script>
        <script src="__JS__/template/adminManage.tpl.js"></script>
        <script src="__JS__/template/commodityManage.tpl.js"></script>
        <script src="__JS__/template/otherSetting.tpl.js"></script>
        <script src="__JS__/template/tradeManage.tpl.js"></script>
        <!--加载模型文件 start-->
        <script src="__JS__/model/adminModel.js"></script>
        <script src="__JS__/model/customMenuModel.js"></script>
        <script src="__JS__/model/wechatSetModel.js"></script>
        <script src="__JS__/model/wechatUserManageModel.js"></script>
        <script src="__JS__/model/adminManageModel.js"></script>
        <script src="__JS__/model/commodityManageModel.js"></script>
        <script src="__JS__/model/otherSettingModel.js"></script>
        <script src="__JS__/model/tradeManageModel.js"></script>
        <!--加载视图文件 start-->
        <script src="__JS__/view/customMenuView.js"></script>
        <script src="__JS__/view/wechatSetView.js"></script>
        <script src="__JS__/view/wechatUserManageView.js"></script>
        <script src="__JS__/view/adminView.js"></script>
        <script src="__JS__/view/adminManageView.js"></script>
        <script src="__JS__/view/commodityManageView.js"></script>
        <script src="__JS__/view/otherSettingView.js"></script>
        <script src="__JS__/view/tradeManageView.js"></script>
        <!--加载控制器文件 start-->
        <script src="__JS__/controller/adminController.js"></script>
        <!--加载启动文件 start-->
        <script src="__JS__/bootstrap/admin.js"></script>

 <!-------------------------------下面是测试单元在发布版本将移除-------------------------------->
        <!--单元测试文件 start-->
        <!--测试代码模型-->
        <script src="__JS__/test/model/adminModelTest.js"></script>
        <script src="__JS__/test/model/customMenuModelTest.js"></script>
        <script src="__JS__/test/model/wechatSetModelTest.js"></script>
        <script src="__JS__/test/model/wechatUserManageModelTest.js"></script>
        <script src="__JS__/test/model/adminManageModelTest.js"></script>
        <script src="__JS__/test/model/commodityManageModelTest.js"></script>
        <script src="__JS__/test/model/otherSettingModelTest.js"></script>
        <script src="__JS__/test/model/tradeManageModelTest.js"></script>
        <!--测试代码视图-->
        <script src="__JS__/test/view/customMenuViewTest.js"></script>
        <script src="__JS__/test/view/wechatSetViewTest.js"></script>
        <script src="__JS__/test/view/wechatUserManageViewTest.js"></script>
        <script src="__JS__/test/view/adminViewTest.js"></script>
        <script src="__JS__/test/view/adminManageViewTest.js"></script>
        <script src="__JS__/test/view/commodityManageViewTest.js"></script>
        <script src="__JS__/test/view/otherSettingViewTest.js"></script>
        <script src="__JS__/test/view/tradeManageViewTest.js"></script>
        <!--测试代码控制器-->
        <script src="__JS__/test/controller/adminControllerTest.js"></script>
        <!--测试代码-->
        <script src="__JS__/test/bootstrap/adminTest.js"></script>
        <script src="__JS__/test/test.js"></script>
    </body>
</html>