<include file="./Wechat/Common/TplLayout/header.html" title="微商城后台管理"/>
<link href="__PUBLIC__/build/debug/css/custom/admin_login.css" rel="stylesheet"/>
<!--link href="__PUBLIC__/build/release/css/admin_login.min.css" rel="stylesheet"/-->
</head>
<body>
<div id="loginForm">
     <table border="0">
     <tr>
         <td class="icon-user3">  用户名</td>
         <td><input type="text" class="userName" placeholder="用户名"/></td>
     </tr>
     <tr>
         <td class="icon-unlocked">  密  码</td>
         <td><input type="password" class="password" placeholder="密码"/></td>
     </tr>
     <tr>
         <td>验证码:</td>
         <td>
             <div class="verifyCode">
                 <a href="javascript:void(0);" class="refreshCode">看不清</a>
                 <img src="__APP__/admin/Index/generatorVerifyCode" alt="看不清"/>
                 <input type="text" class="checkCode"/>
             </div>
         </td>
     </tr>
     <tr>
         <td colspan="2"><button>登录</button></td>
     </tr>
     <tr>
         <td colspan="2" class="errorMesg"></td>
     </tr>
     </table>
</div>
<script>
    (function(){
        function $(selector){
            return document.querySelector(selector);
        }
        var refreshCodeLink=$(".refreshCode");
        var img=$('img');
        var button=$('button');
        var userName=$('.userName');
        var password=$('.password');
        var checkCode=$('.checkCode');
        var errcodeMesg=$('.errorMesg');
        refreshCodeLink.addEventListener('click',function(e){
            img.src="__APP__/admin/Index/generatorVerifyCode";
        });
        button.addEventListener('click',function(e){
            var user=userName.value;
            var passwd=password.value;
            var code=checkCode.value;
            if(!user){
                errcodeMesg.innerHTML="用户名不能为空!";
                return;
            }
            if(!passwd){
                errcodeMesg.innerHTML="请输入正确的密码!";
                return;
            }
            if(!code){
                errcodeMesg.innerHTML="请输入验证码!";
                return;
            }
            var url="__APP__/Admin/Index/verifyCode";
            ajax(url,'code='+code,function(data){
                if(!data){
                    errcodeMesg.innerHTML="验证码错误!";
                }else{

                    verifyUser('user='+user+"&passwd="+passwd);
                }

            });

        });

        function verifyUser(postData){
            var url="__APP__/Admin/Index/verifyUser";
            ajax(url,postData,function(data){
                if(data == 'ok'){
                    location.href="__APP__/Admin/Index/adminHome";
                }else{
                    errcodeMesg.innerHTML="用户名或密码错误!";
                }
            });

        }
        function ajax(url,data,callback){
            var $ajax=new XMLHttpRequest();

            $ajax.open("POST",url,true);

            if($ajax.overrideMimeType){
                $ajax.overrideMimeType("text/xml");
            }

            $ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

            $ajax.onreadystatechange=function(e){
                if($ajax.readyState==4 && $ajax.status==200){
                }
            }
            $ajax.onload=function(){
                callback && callback($ajax.responseText);
            }
            $ajax.onerror=function(err){console.log(err);}
            $ajax.send(data);

        }

    }());
</script>
</body>
</html>
